<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Flex Box</title>
</head>

<body>
    <header>
        <nav>
            <div class="navBar">
                <div class="logo">
                    <h1>Zain Ali</h1>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="http://">Home</a></li>
                        <li><a href="http://">about</a></li>
                        <li><a href="http://">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    </main>
    <main>
        <h1 id="Heading">Pakistani Exam Preparation Material</h1>
        <div class="images">
            <div class="Material" id="imag1"></div>
            <div class="Material" id="imag2"></div>
            <div class="Material" id="imag3"></div>
        </div>

        <div class="blog">
            <div id="imag"><img
                    src="https://static.vecteezy.com/system/resources/thumbnails/019/592/885/small/online-examination-color-icon-illustration-vector.jpg"
                    alt=""></div>
            <div id="text">
                <p>These types of questions are designed to cover a broad spectrum of learning objectives, from basic
                    recall of facts (short questions and MCQs) to deeper understanding and critical thinking (long
                    questions). This format helps educators assess different levels of student learning and
                    understanding effectively.</p>

            </div>
        </div>
    </main>
</body>

</html>